:root {
    --height-of-input-text: 50px;
    --custom-font-size: 20px;
}

.my-custom-nav-margin {
    padding: 13px 15px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.custom-height {
    height: var(--height-of-input-text);
    font-size: var(--custom-font-size);
}

center {
    padding-top: 20px;
}

a:link, a:hover, a:active {
    color: #337ab7;
    text-decoration: none;
}
#chosen_name {
    height: 100%;
    font-size: 50px;
}

.nice-text-display {
    height: 100px;
}